
@{
    ViewData["Title"] = "Index";
}

    <style>

        .wrap {
            top: 30%;
            left: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
        }

        .button {
           
            border-radius: 400px;
            min-width: 237px;
            min-height: 70px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: #4FD1C5;
            background: linear-gradient(90deg, #cab09e 0%, #343c43c4 100%);
            border: none;
            /* border-radius: 1000px; */
            /* box-shadow: 12px 12px 24px #f8f9fa; */
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
        }


        button:hover {
            background: #212529a8;
            border-radius: 400px;
            min-width: 237px;
            min-height: 70px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #e9ecef;
            font-family: unset;
            border: none;
            /* border-radius: 1000px; */
            /* box-shadow: 12px 12px 24px #f8f9fa; */
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
        }

    </style>
<img class="img" src="~/img/background.jpg" alt="">

<div class="wrap">
    <button class="button">Book now !</button>
</div>
